@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'reset.css';

/* Base */

:root {
	--color-black: #272727;
	--color-white: #f4f4f4;
	--color-accent: #bd2718;
	--container-width: 40rem;
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;
	--spacing-xl: 2.5rem;
	--easing: 100ms ease-in-out;
}

html {
	font-size: 18px;
}

body {
	font-family: 'Figtree', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	background-color: var(--color-white);
	color: var(--color-black);
}

/* Typography */

p,
ul,
ol,
blockquote,
figure {
	margin-block-end: var(--spacing-lg);
}

h2,
h3,
h4 {
	margin-block-start: var(--spacing-lg);
	margin-block-end: var(--spacing-sm);
}

p {
	&.lead {
		font-size: 1.25rem;
	}
}

a {
	color: var(--color-accent);
	text-decoration: none;
}

/* Block Elements */

hr {
	height: 1px;
	border: none;
	background-color: #4f4f57;
	opacity: 0.25;
}

figure {
	img {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: min(100vw, 50rem);
		margin-bottom: var(--spacing-sm);
	}

	figcaption {
		text-align: center;
		font-size: 0.825rem;
	}
}

/* Layout */

main,
footer {
	max-width: var(--container-width);
	margin: 0 auto;
}

.inner {
	max-width: var(--container-width);
	margin: 0 auto;
}

/* Header */

header {
	margin-bottom: var(--spacing-xl);
	padding: var(--spacing-lg) 0;
	/* background-color: #f49d00; */
	background-color: #f4bd2f;
	color: var(--color-black);

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	a {
		text-decoration: none;
		color: inherit;
		transition: color var(--easing);

		&:hover {
			color: var(--color-accent);
		}
	}
}

#logo {
	font-weight: 700;
	font-size: 1.5rem;
}

nav {
	display: flex;
	flex-direction: columns;
	gap: var(--spacing-sm);

	a {
		display: block;
		overflow: hidden;
		position: relative;
		padding: var(--spacing-sm);
		font-size: 0.85rem;

		&:after {
			content: '';
			position: absolute;
			width: calc(100% - (var(--spacing-sm) * 2));
			height: 3px;
			bottom: -3px;
			left: var(--spacing-sm);
			background-color: var(--color-accent);
			transition: all var(--easing);
		}

		&:hover:after,
		&.active:after {
			bottom: 0;
		}
	}
}

/* Footer */

footer {
	padding: var(--spacing-lg) 0;
	font-size: 0.8rem;
}
