@import 'reset.css';

/* Base */

:root {
	--color-black: #1c1a18;
	--color-white: #f0ebe4;
	--color-primary: #2f453a;
	--color-accent: #a74921;
	--color-secondary: #eaa62e;
	--container-width: 40rem;
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;
	--spacing-xl: 2.5rem;
	--easing: 100ms ease-in-out;
}

html {
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Source Serif 4', sans-serif;
	font-size: 1rem;
	font-optical-sizing: auto;
	font-weight: 400;
	background-color: var(--color-white);
	color: var(--color-black);
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
#logo,
nav {
	font-family: 'Figtree', sans-serif;
}

p,
ul,
ol,
blockquote,
figure {
	margin-block-end: var(--spacing-lg);
}

ul {
	padding-left: var(--spacing-lg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: var(--spacing-lg);
	margin-block-end: var(--spacing-sm);
	color: var(--color-primary);
}

p {
	&.lead {
		font-size: 1.25rem;
		color: var(--color-primary);
	}
}

*::selection {
	background-color: var(--color-secondary);
}

a {
	color: var(--color-accent);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	transition: color var(--easing);

	&:hover {
		color: var(--color-black);
	}
	
	&:focus-visible {
		color: var(--color-black);
		outline: none;
  		background-color: var(--color-secondary);
	}
}

/* Block Elements */

figure {
	img {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: min(100vw, 50rem);
		margin-bottom: var(--spacing-sm);
	}

	figcaption {
		text-align: center;
		font-size: 0.9rem;
		font-style: italic;
	}
}

/* Layout */

header, main, footer, .inner {
	padding: 0 var(--spacing-md);
}

main {
	flex: 1;
	width: 100vw;
	max-width: var(--container-width);
	margin: 0 auto;
}

.inner {
	max-width: var(--container-width);
	margin: 0 auto;
}

/* Header */

header {
	margin-bottom: var(--spacing-xl);
	padding: var(--spacing-lg) 0;
	background-color: var(--color-primary);
	color: #fff;

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			color: var(--color-secondary);
		}
	}
}

#logo {
	font-weight: 700;
	font-size: 1.5rem;
}

nav {
	display: flex;
	flex-direction: columns;
	gap: var(--spacing-sm);

	a {
		display: block;
		overflow: hidden;
		position: relative;
		padding: var(--spacing-sm);
		font-size: 0.85rem;

		&:after {
			content: '';
			position: absolute;
			width: calc(100% - (var(--spacing-sm) * 2));
			height: 3px;
			bottom: -3px;
			left: var(--spacing-sm);
			background-color: var(--color-secondary);
			transition: bottom var(--easing);
		}

		&.active {
			color: var(--color-secondary);

			&:focus-visible {
				color: var(--color-black);
			}
		}

		&:hover:after,
		&.active:after {
			bottom: 0;
		}
	}
}

/* Footer */

footer {
	margin-block-start: var(--spacing-lg);
	background-color: #ddd6cd;
	padding: var(--spacing-lg) 0;
	font-size: 0.8rem;

	p {
		margin-bottom: 0;
	}
}
